---
services:
  traefik:
    image: docker.io/traefik:v3.5.4
    container_name: traefik
    restart: unless-stopped
    environment:
      - TZ=Europe/Bucharest
      - CF_DNS_API_TOKEN=${TRAEFIK_CF_DNS_API_TOKEN}

    security_opt:
      - no-new-privileges:true

    command:
      - "--configfile="

      # API / Dashboard
      - "--api.dashboard=true"
      - "--api.insecure=false"

      # Entrypoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      - "--entrypoints.websecure.address=:443"

      # Docker provider
      - "--providers.docker=true"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.network=traefik_network"

      # Let's Encrypt / Cloudflare DNS
      - "--certificatesresolvers.cloudflare.acme.email=business@mirceanton.com"
      - "--certificatesresolvers.cloudflare.acme.storage=/acme.json"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge=true"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.resolvers=1.1.1.1:53,1.0.0.1:53"
      - "--certificatesresolvers.cloudflare.acme.dnschallenge.delaybeforecheck=30"
      # - "--certificatesresolvers.cloudflare.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"

      # Logging
      - "--log.level=INFO"
      - "--accesslog=true"
      - "--accesslog.bufferingsize=100"

      # Metrics
      - "--metrics.prometheus=true"
      - "--metrics.prometheus.addentrypointslabels=true"
      - "--metrics.prometheus.addserviceslabels=true"

    ports:
      - "10.0.10.245:80:80"
      - "10.0.10.245:443:443"

    volumes:
      - acme:/etc/traefik
      - /var/run/docker.sock:/var/run/docker.sock:ro

    networks: ["traefik_network"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.traefik.rule=Host(`nas.svc.h.mirceanton.com`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=cloudflare"
      - "traefik.http.routers.traefik.service=api@internal"

networks:
  traefik_network:
    name: traefik_network
    driver: bridge

volumes:
  acme: {}
