---
configs:
  garage_config:
    file: ./garage.toml

services:
  garage:
    container_name: garage
    image: dxflrs/garage:v2.2.0
    configs:
      - source: garage_config
        target: /etc/garage.toml
    environment:
      - GARAGE_RPC_SECRET=${GARAGE_RPC_SECRET}
      - GARAGE_ADMIN_TOKEN=${GARAGE_ADMIN_TOKEN}

  webui:
    container_name: garage-webui
    image: khairul169/garage-webui:1.1.0
    restart: unless-stopped
    configs:
      - source: garage_config
        target: /etc/garage.toml
    ports:
      - 3909:3909
    environment:
      API_BASE_URL: "http://garage:3903"
      API_ADMIN_KEY: ${GARAGE_ADMIN_TOKEN}
      S3_ENDPOINT_URL: "http://garage:3900"